<app-navbar></app-navbar>

<ng-container *ngIf="user.name">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <h1>Hello, {{ user.name }}</h1>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <h3>Your Recently Played Tracks</h3>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngIf="recentTracks.tracks">
        <ng-container *ngFor="let track of recentTracks.tracks">
          <div class="col mb-4">
            <div class="card shadow-sm" id="track-card">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <img
                      src="{{ track.imageUrl }}"
                      alt="{{ track.albumName }}"
                      id="track-image"
                    />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <span id="track-name-tag"
                      ><b>{{ track.trackName }}</b></span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span id="track-info-tag"
                      ><b>Album: </b>{{ track.albumName }}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span id="track-info-tag"
                      ><b>Artist: </b>{{ track.artist }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h3>Your Favorite Artists</h3>
      </div>
    </div>
    <div class="row mt-3">
      <ng-container *ngIf="topArtists.artists">
        <ng-container *ngFor="let artist of topArtists.artists; let i = index">
          <div class="col mb-4">
            <div class="card shadow-sm" id="artist-card">
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <img
                      src="{{ artist.imageUrl }}"
                      alt="{{ artist.name }}"
                      id="artist-image"
                    />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <span id="artist-name-tag"
                      ><b>{{ i + 1 }}. {{ artist.name }}</b></span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span id="artist-info-tag"
                      ><b>Genre:</b> {{ artist.genres }}</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span id="artist-info-tag"
                      ><b>Followers:</b> {{ artist.totalFollowers }}</span
                    >
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-primary">
                      More Information
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
